<div id="tweets">
	<% Tweet.order("tweet_id desc").each do |tweet| %>
  		<p><a href="https://twitter.com/<%= tweet.twitter_name %>">@<%= tweet.twitter_name %></a> says:</p>
  		<blockquote><%= display_twitter_name(display_hashtag(tweet.content)) %></blockquote>
  		<p><%= tweet.tweeted_at %> | <a href="https://twitter.com/<%= tweet.twitter_name %>/status/<%= tweet.tweet_id %>">Permalink</a></p>
  		<hr />
	<% end %>
</div>

<img src="assets/cfaatx_2.png">
<h1>#cfaATX Tweets</h1>

<h3><p>Since Twitter search results don't last forever, I set up this site to archive tweets with hashtag #cfaATX once a day. </p></h3>

<h4><p>It begins the morning of Code Across America II: Y'all Come Hack Now! on Saturday, September 8, 2012.</p></h4>

<br />
<br />
<br />
<br />
<br />
Make this site cooler! Code is <a href="https://github.com/joemerante/atxtweets">here</a>.